.imgLogo{
	width: auto !important;
	height: 40px !important;
}

/* Dimensão e bordas do scrollspy(É onde esta o conteudo da pagina valores, obejtivos...) da pagina sobre  */
.scrollspySite{
	position: relative !important;
	overflow: auto !important;
	height: 500px !important;
}

/* Bordas do pequeno navagador da pagina sobre */
.nav-pills-color{
	padding: 10px !important;
	border-radius: 5px !important;
	border-style: solid !important;
	border-color: #006606 !important;
}

/*Fotos dos Integrantes*/

.us-fotos{
	width: 200px;
	height: 200px;
	border-style: outset;
	border-color: #007F08;
}

/*Coisas não catalogadas*/
.text-dark{
	color: black;
}

h11{
	color: red;
}

hr{

	height: 2px !important;

}

.hr-menu{
	border: 0.1px solid white !important;
	background-color: white!important;
	border-radius: 5px;
	margin:0px !important;
	
}

#foto-perfil{

	width:  90%; height: 45% !important;
  border: 5px solid   #1B7302 !important;
}

#foto_perfil{

  width:  150px; height: 150px !important;
  border: 5px solid   #1B7302 !important;
}

#foto_usuario{

  width:  50px; height: 50px !important;
  border: 3px solid #2ba10a !important;
}

#big-botao{

  width: 60%; height: 100px;
  display: block; 
  margin-right: auto;
  margin-left: auto;
}

.searchIcon:hover{
	color: white!important;
}

.inputCadastro{
	background-color: #e9ecef !important;
  	opacity: 1 !important;
}

/* form editado para colocar bordas verdes */
.form-control2 {
  
  color: #495057 !important;
  background-color: #fff !important;
  border-radius: none !important;
  border: 1px solid #28a745 !important;
 
}

/* form editado para colocar bordas no bottom */
.form-control3 {
  
  color: #495057 !important;
  background-color: #fff !important;
  border: none !important;
  border-bottom: 1.7px solid #28a745 !important;
  border-radius: 0.2em;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
 	
	
}

.form-control3::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control3:focus {
  color: #28a745;
  background-color: #fff;
  border-bottom-color: #28a745;
  outline: 0;
  border-bottom: 3px solid #1dbf42 !important;
}
 
select.form-control3:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}


/*Background de botão tranparente*/

.bg-none{
	border-radius: 5px;
}

a.bg-none:hover, a.bg-none:focus,
button.bg-none:hover,
button.bg-none:focus {
  background-color: #62a302 !important;
}

#Ajustadrop{
	width: 200px !important;
}

/*Criar o Expasamento de paragrafo*/

.text-tab{
	text-indent: 1.5em !important; 
}


/* Variação de margin maior*/

.mb-big{
	margin-bottom: 5em !important;

}

.mt-big{
	margin-top: 5em !important;

}

.ml-big{
	margin-left: 5em !important;

}

.mr-big{
	margin-right: 5em !important;

}

.m-big{
	margin: 5em !important;

}

/* DESTAQUE */

.destaque-radius-shadow{


	box-shadow: 0.5rem 1rem 1.5rem 0.8rem rgba(0, 0, 0, 0.25) !important;
	border-radius: 2rem !important;

}

/*Animações*/


/* ----------------------------------------------
 * Generated by Animista on 2019-9-25 15:25:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-tb
 * ----------------------------------------
 */

 .shadow-inset-tb:hover, .shadow-inset-tb:focus {
	-webkit-animation: shadow-inset-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes shadow-inset-tb {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(3, 156, 0, 0), inset 0 0 0 0 rgb(3, 156, 0);
            box-shadow: inset 0 0 0 0 rgba(3, 156, 0, 0), inset 0 0 0 0 rgb(3, 156, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -6px 14px -6px rgba(3, 156, 0, 0.3), inset 0 6px 14px -6px rgba(3, 156, 0, 0.3);
            box-shadow: inset 0 -6px 14px -6px rgba(3, 156, 0, 0.3), inset 0 6px 14px -6px rgba(3, 156, 0, 0.3);
  }
}
@keyframes shadow-inset-tb {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(3, 156, 0, 0), inset 0 0 0 0 rgba(3, 156, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(3, 156, 0, 0), inset 0 0 0 0 rgba(3, 156, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -6px 14px -6px rgba(3, 156, 0, 0.3), inset 0 6px 14px -6px rgba(3, 156, 0, 0.3);
            box-shadow: inset 0 -6px 14px -6px rgba(3, 156, 0, 0.3), inset 0 6px 14px -6px rgba(3, 156, 0, 0.3);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-25 16:15:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */

 .shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/*Circulo de carregamento*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

